/* .swiper-wrapper {
  min-height: 230px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 100%;
  
  
}
.swiper-pagination-bullet {
  background-color: rgb(226, 226, 226);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #2e7dda !important;
} */
